<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Socket.io example</title>
    <script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script>
      let socket = io()

      socket.on('message', (message) => {
        console.log('Message from server: ', message);
      });

      socket.on('private message', (message) =>
        console.log(
          'Private message from server: ',
          message
        )
      )

      
      socket.on('testing', (px) => {
          console.log("123123");

      });

      function sendMessageToServer() {
        socket.emit('message', "I'm client")
      }

      function test() {
          socket.emit( 'testing', 10 );
          let elem = document.querySelector('.block');
        elem.style.width = elem.style.width + 10 + 'px';
      }
    </script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="background.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>

    <div class="container">
      <div class="content">
        <h1>Twitch credentials</h1>

        <a class="btn btn-warning"href="https://id.twitch.tv/oauth2/authorize?client_id=nd7q28kpebc34wprpilipv0uqlpid8&response_type=code&redirect_uri=http://localhost:3000/credentials&scope=user:read:subscriptions+chat:read+channel:moderate">Connect with Twitch (Subscribers)</a>

        <a href="/" class="btn btn-warning">To Dashboard</a>
      </div>
    </div>
  </body>
</html>